ion-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  
  ion-card img {
    object-fit: contain;
    height: 150px; /* Adjust the height as needed */
    width: 100%;
  }
  
  ion-card-content {
    flex-grow: 1;
  }
  
  